.navbar {
    background-color: rgba(248, 244, 255, 1);
    height: 3.2em;
    vertical-align: middle;
  }
  .nav-link,
  .navbar-title {
      color: rgb(54, 54, 54) ;
      cursor: pointer;
      display: inline-block; 
      font-weight: bold;
  }
  .navbar-title {
    text-align: center;
    vertical-align: center;
    margin-left: 1em;
    margin-bottom: 0;
  }
  
  .nav-link {
    margin-right: 2em !important;
    color: rgb(54, 54, 54) !important;
  }
  
  .navbar-toggler {
   color: rgb(54, 54, 54) !important;
  }
  
  .lang{
    color: rgb(54, 54, 54) !important;
    font-size: smaller;
  }
  
  .nav-link:hover, .lang:hover {
    color: black !important; 
  }
  
  .lang:hover {
    font-weight: bold;
  }
  
  .navbar-collapse {
    justify-content: flex-end;
    background-color:  rgba(248, 244, 255, 1);
    width: 30%;
  }
  
  .img-fluid {
      max-width: 100%; 
      height:auto;
  }
  
  .nav-item{
    text-align: right;
  }
  