<navbar class="navbar navbar-expand-md fixed-top navbar-light" ></navbar>
<div class="description">
  <h1 class="landingtext first en showLang">Jacqueline Mander</h1>
  <h1 class="first landingtext ch hideLang">何美贞</h1>
  <p class="landingtext second en showLang">Software Developer</p>
  <p class="landingtext second ch hideLang">软件工程师</p>
  <a class="btn btn-outline-secondary btn-lg learnmore landingtext third en showLang" href="#about">Learn More</a>
  <a class="btn btn-outline-secondary btn-lg learnmore landingtext third ch hideLang" href="#about">了解更多</a>
</div>
